[submodule "RecStudio"]
	path = RecStudio
	url = https://github.com/USTCLLM/RecStudio.git
[submodule "GRE"]
	path = GRE
	url = https://github.com/USTCLLM/GREB.git
[submodule "CELA"]
	path = CELA
	url = https://github.com/USTCLLM/CELA.git
[submodule "RecStudio-Industry"]
	path = RecStudio-Industry
	url = git@github.com:USTCLLM/RecStudio-Industry.git
	branch = main
[submodule "Nexus"]
	path = Nexus
	url = https://github.com/USTCLLM/Nexus.git
	branch = main
